Checks: '-*,
cppcoreguidelines-*,
modernize-*,
performance-*,
clang-analyzer-*,
bugprone-*,
misc-*,
readibility-*,
cert-*,
google-*,
hicpp-*,

readability-identifier-naming,

-cppcoreguidelines-avoid-magic-numbers,
-misc-non-private-member-variables-in-classes,
-modernize-use-trailing-return-type,
-bugprone-suspicious-include,
-performance-avoid-endl,
-bugprone-easily-swappable-parameters,
-cppcoreguidelines-owning-memory,
-google-readability-braces-around-statements,
-hicpp-braces-around-statements,
-performance-enum-size'
